<p>user works!</p>
<h1>Reactive form Demos</h1>
<form [formGroup]="form" (ngSubmit)="AddUser(form)">
  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" name="name" placeholder="Enter your name" class="form-control" formControlName="name" />
    <div *ngIf="form.get('name')?.touched && form.get('name')?.invalid" class="alert alert-danger">
      <div *ngIf="form.get('name')?.hasError('required')">Please Enter Name</div>
      <div *ngIf="form.get('name')?.hasError('pattern')">Please Enter Valid Name</div>
    </div>
    <label for="contact">Contact:</label>
    <input type="text" name="contact" placeholder="Enter your contact number" formControlName="contact" class="form-control" />
    <div *ngIf="form.get('contact')?.touched && form.get('contact')?.invalid" class="alert alert-danger">
      <div *ngIf="form.get('contact')?.hasError('required')">Please Enter Contact</div>
      <div *ngIf="form.get('contact')?.hasError('pattern')">Please Enter Valid Contact</div>
    </div>
    <label for="email">Email:</label>
    <input type="text" name="email" placeholder="Enter your email" formControlName="email" class="form-control" />
    <div *ngIf="form.get('email')?.touched && form.get('email')?.invalid" class="alert alert-danger">
      <div *ngIf="form.get('email')?.hasError('required')">Please Enter Email</div>
      <div *ngIf="form.get('email')?.hasError('pattern')">Please Enter Valid Email</div>
    </div>
  </div>
  <button type="submit" class="btn btn-success">Add User</button>
</form>
<div *ngIf="userlist.length>0">
<ul>
  <li *ngFor="let us of userlist">
    <p>{{us.name}}</p>
    <p>{{us.contact}}</p>
    <p>{{us.email}}</p>
  </li></ul>
  </div>
